<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
	<listeners>
		<listener class-name="com.testvagrant.automation.codingassignment.base.TestNgListener"></listener>
	</listeners>
  <test name="CityInMap">
    <classes>
      <class name="com.testvagrant.automation.codingassignment.WebTests">
      <methods>
      	<include name = "searchWeatherOfACityInWebsite"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
    <test name="CityDetailsinWebPage">
    <classes>
      <class name="com.testvagrant.automation.codingassignment.WebTests">
      <methods>
      	<include name = "validateCityWeatherDetailsIsPresentInMap"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
